.topNav, .footer {
    padding: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}

.topNav a, .footer a {
    margin: auto;
}

.marginAuto {
    margin: auto;
}

.about {
    width: 30%;
}

.about h1 {
    font-size: 70px;
}
.about h3 {
    text-decoration: underline;
    padding: 30 0 10 0 ;
}
.about p {
    padding: 10 0;
}



.bColor1 {
    background-color: #363537;
}

.bColor2 {
    background-color: #107E7D;
    color:white;
    font-size: x-large;
}

.bColor3 {
    background-color: #FAE3C6;
    color: #112A46;
    font-size: large;
}

.icon {
    height:50px;
    padding: 10px;    
}

#myImg {
    width: 600px;
    padding: 50px;
}

.cardImg {
    height: 300px;
    align-content: center;
}

.projCard {
    padding: 50px;
    margin: auto;
}