.topNav, .footer {
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.topNav a, .footer a {
    margin: auto;
}

/* General Use class */
.marginAuto {
    margin: auto;
}


/* Background and Text color sets */
.bColor1 {
    background-color: #363537;
}
.bColor2 {
    background-color: #107E7D;
    color:white;
    font-size: x-large;
}
.bColor3 {
    background-color: #FAE3C6;
    color: #112A46;
    font-size: large;
}

/* Images and icons */
#myImg {
    width: 600px;
    padding: 100 0;
}
.icon {
    height:50px;
    padding: 10px;    
}
.cardImg {
    max-height: 300px;
    max-width: 600px;
    align-content: center;
}


.introduction {
    display: inline-flex;
    padding-bottom: 50px;
}


/* About Section */
.about {
    width: 40%;
}
.about h1 {
    font-size: 70px;
}
.about h3 , .contact h3 {
    text-decoration: underline;
    padding: 30 0 10 0 ;
}
.about p {
    padding: 10 0;
}

/* Project Section */
.projects{
    display: inline-flex;
}
.projCard {
    padding: 50px;
    margin: auto;
    width: 30%;
}
.projCard p {
    padding: 20 0 10 0;
}
/* Project Card Button Groups */
.btnGroup {
    width: 80%;
    padding: 10;
    margin: auto;
}
/* Styling for project links */
.btnGroup a {
    width: 30%;
    margin: 0 15;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    outline: none;
    color: #ffffff;
    background-color: #7aa8b7;
}

/* Contact section */
.contact {
    padding: 50px 20%;
}
.contact div {
    display: inline-flex;
    padding: 20 0;
}

/* Mobile Responsive styling */
@media screen and (max-width: 800px) {
    #myImg {
        width: 100%;
        padding: 70 0;
    }

    .contact div {
        display: inline-block;
        padding: 20 0;
    }

    .introduction {
        display: inline-block;
    }
    .introduction div {
        width: 80%;
    }

    .projects {
        display: block;
    }

    .projCard {
        width: 80% ;
        padding: 10%;
    }

    .contact {
        padding: 10%;
    }

    .cardImg {
        max-height: 300px;
        max-width: 300px;
        align-content: center;
    }

    .btnGroup a {
        margin: 10;
        padding: 10;
    }
}